In [11]:
# Salary Benchmarking for Competitive Compensation

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

In [12]:
#Load the provided dataset
input_file_path = '/mnt/data/salary_benchmarking_dataset.xlsx'
df = pd.read_excel("D:/E/Study Materials/Salary Benchmarking/salary_benchmarking_dataset.xlsx")

df

,Role,Location,Education_Level,Experience_Years,Salary_Range
0,Data Scientist,Remote,High School,6,Medium
1,Product Manager,New York,High School,19,Medium
2,HR Manager,Austin,Bachelor's,14,High
3,Data Scientist,Seattle,High School,10,Low
4,Marketing Specialist,San Francisco,Master's,7,Medium
...,...,...,...,...,...
995,Product Manager,Austin,High School,7,Medium
996,HR Manager,Austin,PhD,5,Medium
997,Data Scientist,New York,Master's,5,High
998,Software Engineer,Remote,PhD,7,High
999,Data Scientist,San Francisco,Master's,14,Medium

In [13]:
#Prepare the data for classification

df_encoded = pd.get_dummies(df, columns=['Role', 'Location', 'Education_Level'], drop_first=True)

# Define features (X) and target (y)
X = df_encoded.drop('Salary_Range', axis=1)
y = df['Salary_Range']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
#Train a classification model
clf = RandomForestClassifier(random_state=42)
clf.fit(X_train, y_train)

print("\nClassification Report:\n", classification_report(y_test, y_pred))


#Evaluate the model
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Classification Report:
               precision    recall  f1-score   support

        High       0.15      0.12      0.13        42
         Low       0.27      0.28      0.27        46
      Medium       0.57      0.60      0.58       112

    accuracy                           0.42       200
   macro avg       0.33      0.33      0.33       200
weighted avg       0.41      0.42      0.42       200

Accuracy: 0.42